
<div class="app-container">
  <aside class="primary-menu">
    <nav>
      <ul>
        <li><a href="#" [routerLink]="['/dashboards']" routerLinkActive="active" class="center-parent button-major">
            <div class="center-child">
              <svg class="icon">
                <use xlink:href="assets/images/icons-def.svg#icon-dashboard"></use>
              </svg><span>Dashboards</span>
            </div></a></li>
        <li><a href="#" [routerLink]="['/servers']" routerLinkActive="active" class="center-parent button-major">
            <div class="center-child">
              <svg class="icon">
                <use xlink:href="assets/images/icons-def.svg#icon-servers"></use>
              </svg><span>Servers</span>
            </div></a></li>
        <li><a href="#" [routerLink]="['/widgets']" routerLinkActive="active" class="center-parent button-major">
            <div class="center-child">
              <svg class="icon">
                <use xlink:href="assets/images/icons-def.svg#icon-widgets"></use>
              </svg><span>Widgets</span>
            </div></a></li>
        <li><a href="#" [routerLink]="['/utilities']" routerLinkActive="active" class="center-parent button-major">
            <div class="center-child">
              <svg class="icon">
                <use xlink:href="assets/images/icons-def.svg#icon-swiss-knife"></use>
              </svg><span>Utilities</span>
            </div></a></li>
      </ul>
    </nav>
    <div class="logo">
      <svg class="icon icon-logo">
        <use xlink:href="assets/images/icons-def.svg#icon-wolf">       </use>
      </svg>
    </div>
  </aside>
  <router-outlet></router-outlet>
  <div style="width: 100%;height: 100%" class="center-parent">
    <pre style="color: red;text-align: left" class="center-child">~~~~~~ TODO ~~~~~~
  +- [0] Arrumar as rotas no Angular
  +- [0] Criar/Usar controle para Dialogs e Modais
  `- [0] Montar tabelas no SQL</pre>
  </div>
</div>