
<aside class="secondary-menu">
  <div class="toolbar">
    <div class="toolbar-container">
      <div class="toolbar-item center-parent"><a href="#" class="center-child button-minor">
          <svg class="icon">
            <use xlink:href="assets/images/icons-def.svg#icon-add"></use>
          </svg></a></div>
    </div>
  </div>
  <nav>
    <ul>
      <li *ngFor="let category of serversByCategories">
        <h3 class="category-header">{{category.title}}</h3>
        <ul class="category-content">
          <li *ngFor="let server of category.servers"><a href="#"><span>{{server.name}}</span></a>
            <svg class="icon icon-min icon-house">
              <use xlink:href="assets/images/icons-def.svg#icon-house"></use>
            </svg>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>
<div class="component-container"></div>